body {
    width: 100vw;
    height: 100vh;

    position: relative;
    background-color: black;
}

main {
    width: fit-content;
    height: fit-content;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;
}

main h1 {
    color: indianred;
}

#light-panel {

}