body {
    width: 100vw;
    height: 100vh;

    position: relative;
    background-color: black;
}

main {
    width: fit-content;
    height: fit-content;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main h1 {
    color: indianred;
    text-align: center;
    margin-bottom: 40px;
}

main h1:hover {
    color: #d07575;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#light-panel {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding: 15px;
}

#btn-panel {
    text-align: center;
    margin: 40px 0;
}

.light {
    width: 100px;
    aspect-ratio: 2/1;
    background-color: white;
    border-radius: 8px;
    margin: 0 8px;
}

button {
    width: 100px;
    height: 35px;
    background-color: indianred;
    color: white;
    border: none;
    font-size: 17px;
    margin: 0 5px;
}

button:hover {
    background-color: #d07575;
}